---
http_interactions:
- request:
    method: get
    uri: https://api.height.app/activities?taskId=659ac012-9239-46f4-9cf5-6a0f382d5384
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - api-key <HEIGHT_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '1618061180'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e28-vTW/afsuLa+G8cBqSW4sYeWmV8c"
    body:
      encoding: ASCII-8BIT
      string: '{"list":[{"id":"3eb978a8-1e2c-475c-8306-35bddf8a442f","model":"activity","createdAt":"2021-03-31T08:43:36.017Z","createdUserId":"dce0f9d3-351d-4111-9b2b-bead9b7fff4e","lastEditedAt":null,"deleted":false,"type":"createdAt","fieldTemplateId":null,"taskId":"659ac012-9239-46f4-9cf5-6a0f382d5384","message":null,"oldValue":null,"newValue":null,"valueStatus":null,"reactjis":[],"readUserIds":[],"attachments":[],"pinned":false,"pinnedUserId":null,"pinnedAt":null,"quote":null,"redacted":null,"url":"https://height.app/3OhlnvNYmX/T-2#3eb978a8-1e2c-475c-8306-35bddf8a442f"},{"id":"b30b3879-383f-4c43-b20f-61662ece69ff","model":"activity","createdAt":"2021-03-31T08:43:55.380Z","createdUserId":"dce0f9d3-351d-4111-9b2b-bead9b7fff4e","lastEditedAt":null,"deleted":false,"type":"nameChange","fieldTemplateId":null,"taskId":"659ac012-9239-46f4-9cf5-6a0f382d5384","message":null,"oldValue":"","newValue":"Fetch
        tasks in list","valueStatus":null,"reactjis":[],"readUserIds":[],"attachments":[],"pin[...]
