---
http_interactions:
- request:
    method: get
    uri: https://api.height.app/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - api-key <HEIGHT_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '1617822963'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c49-Ii0CAyhC8ARG87J3DQFQ4GYOzuw"
    body:
      encoding: ASCII-8BIT
      string: '{"list":[{"@changed":{},"id":"f8ef1fbe-5f2c-4718-8751-ba17984e077f","model":"list","name":"backlog","description":"All
        the tasks currently on the backlog.","filters":{"listIds":{"values":["f8ef1fbe-5f2c-4718-8751-ba17984e077f"]}},"fields":[{"id":"name"},{"id":"status"},{"id":"assigneesIds"},{"id":"listIds"}],"fieldsSummaries":{"name":{"type":"count"}},"sectionsSummaries":{},"sortBy":{"type":"manual","sort":"global"},"viewBy":null,"subviewBy":null,"visualization":"list","key":"backlog","userId":"f8eb5b62-cddb-4559-8f4c-fb208902c6bb","type":"list","reserved":false,"showCompletedTasks":"none","showCompletedTasksCustomFilter":null,"restricted":false,"permissions":{"membersPermission":true,"userPermissions":[]},"subtaskMode":"expanded","hierarchyMode":"tree","createdAt":"2021-03-31T08:02:20.259Z","updatedAt":"2021-03-31T08:02:20.756Z","updatedBy":"f8eb5b62-cddb-4559-8f4c-fb208902c6bb","defaultList":false,"url":"https://height.app/3OhlnvNYmX/backlog","topActiveUsersIds":[],"totalActiveUsersCount":0},{"@changed":{},"id":"d181950c-8af8-4580-9a81-9c7fcf5f013c","model":"list","name":"completed","description":"All
        the tasks that have been completed, grouped by week of completion.","filters":{"completed":{"values":[true]}},"fields":[{"id":"name"},{"id":"status"},{"id":"assigneesIds"},{"id":"listIds"},{"id":"completedAt"}],"fieldsSummaries":{"completedAt":{"type":"count"}},"sectionsSummaries":{},"sortBy":{"type":"manual","sort":"global"},"viewBy":{"id":"completedAt","type":"week","order":"desc"},"subviewBy":null,"visualization":"list","key":"completed","userId":"f8eb5b62-cddb-4559-8f4c-fb208902c6bb","type":"smartlist","reserved":false,"showCompletedTasks":"all","showCompletedTasksCustomFilter":null,"restricted":false,"permissions":{"membersPermission":true,"userPermissions":[]},"subtaskMode":"expanded","hierarchyMode":"tree","createdAt":"2021-03-31T08:02:20.321Z","updatedAt":"2021-03-31T08:02:20.797Z","updatedBy":"f8eb5b62-cddb-4559-8f4c-fb208902c6bb","defaultList":false,"url":"[...]
