---
http_interactions:
- request:
    method: get
    uri: https://api.height.app/tasks/659ac012-9239-46f4-9cf5-6a0f382d5384
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - api-key <HEIGHT_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '116'
      X-Ratelimit-Reset:
      - '1617822963'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"315-nWGDDfGnCkoFaxSBmgFxQoShkYA"
    body:
      encoding: UTF-8
      string: '{"id":"659ac012-9239-46f4-9cf5-6a0f382d5384","model":"task","createdAt":"2021-03-31T08:43:36.017Z","createdUserId":"dce0f9d3-351d-4111-9b2b-bead9b7fff4e","deleted":false,"deletedAt":null,"deletedByUserId":null,"name":"Fetch
        tasks in list","description":"","index":2,"assigneesIds":[],"status":"backLog","parentTaskId":null,"listIds":["113fcfa8-e37a-4077-81a0-8ac423debd13"],"commentsAggregateCount":0,"lastActivityAt":"2021-03-31T08:43:55.380Z","completed":false,"completedAt":null,"completedByUserId":null,"orderIndex":1309764798,"subtasksIds":[],"completedSubtasksIds":[],"fields":[],"gitBranches":[],"gitPullRequests":[],"parentTasks":[],"access":"readwrite","subscribersIds":["dce0f9d3-351d-4111-9b2b-bead9b7fff4e"],"redacted":null,"links":[],"url":"https://height.app/3OhlnvNYmX/T-2"}'
  recorded_at: Wed, 07 Apr 2021 19:15:03 GMT
recorded_with: VCR 6.0.0
