---
http_interactions:
- request:
    method: get
    uri: https://api.height.app/tasks?filters=%7B%22listIds%22:%7B%22values%22:%5B%22113fcfa8-e37a-4077-81a0-8ac423debd13%22%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - api-key <HEIGHT_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118'
      X-Ratelimit-Reset:
      - '1617822963'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"98e-HgwzJwsxETnE998hFTqzx8NOlGc"
    body:
      encoding: ASCII-8BIT
      string: '{"list":[{"id":"f791680d-66ee-434a-8d4e-519c6f12181d","model":"task","createdAt":"2021-03-31T08:43:55.419Z","createdUserId":"dce0f9d3-351d-4111-9b2b-bead9b7fff4e","deleted":false,"deletedAt":null,"deletedByUserId":null,"name":"","description":"","index":3,"assigneesIds":[],"status":"backLog","parentTaskId":null,"listIds":["113fcfa8-e37a-4077-81a0-8ac423debd13"],"commentsAggregateCount":0,"lastActivityAt":"2021-03-31T08:43:55.419Z","completed":false,"completedAt":null,"completedByUserId":null,"orderIndex":1728624172,"subtasksIds":[],"completedSubtasksIds":[],"fields":[],"gitBranches":[],"gitPullRequests":[],"parentTasks":[],"access":"readwrite","subscribersIds":["dce0f9d3-351d-4111-9b2b-bead9b7fff4e"],"redacted":null,"links":[],"url":"https://height.app/3OhlnvNYmX/T-3"},{"id":"659ac012-9239-46f4-9cf5-6a0f382d5384","model":"task","createdAt":"2021-03-31T08:43:36.017Z","createdUserId":"dce0f9d3-351d-4111-9b2b-bead9b7fff4e","deleted":false,"deletedAt":null,"deletedByUserId":null,"name":"Fetch
        tasks in list","description":"","index":2,"assigneesIds":[],"status":"backLog","parentTaskId":null,"listIds":["113fcfa8-e37a-4077-81a0-8ac423debd13"],"commentsAggregateCount":0,"lastActivityAt":"2021-03-31T08:43:55.380Z","completed[...]
