---
http_interactions:
- request:
    method: get
    uri: https://api.height.app/tasks?filters=%7B%22assigneesIds%22:%7B%22values%22:%5B%22dce0f9d3-351d-4111-9b2b-bead9b7fff4e%22%5D%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - api-key <HEIGHT_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Reset:
      - '1618090702'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"375-LR6UbkrqlGaEI23aD8MQEGrLccg"
    body:
      encoding: UTF-8
      string: '{"list":[{"id":"27d35940-b6ae-4e57-8a28-ccfdf816441e","model":"task","createdAt":"2021-03-31T08:43:23.058Z","createdUserId":"dce0f9d3-351d-4111-9b2b-bead9b7fff4e","deleted":false,"deletedAt":null,"deletedByUserId":null,"name":"Fetch
        all lists","description":"","index":1,"assigneesIds":["dce0f9d3-351d-4111-9b2b-bead9b7fff4e"],"status":"done","parentTaskId":null,"listIds":["113fcfa8-e37a-4077-81a0-8ac423debd13"],"commentsAggregateCount":0,"lastActivityAt":"2021-03-31T08:44:04.260Z","completed":true,"completedAt":"2021-03-31T08:44:04.255Z","completedByUserId":"dce0f9d3-351d-4111-9b2b-bead9b7fff4e","orderIndex":472046050,"subtasksIds":[],"completedSubtasksIds":[],"fields":[],"gitBranches":[],"gitPullRequests":[],"parentTasks":[],"access":"readwrite","subscribersIds":["dce0f9d3-351d-4111-9b2b-bead9b7fff4e"],"redacted":null,"links":[],"url":"https://height.app/3OhlnvNYmX/T-1"}]}'
  recorded_at: Sat, 10 Apr 2021 21:37:21 GMT
recorded_with: VCR 6.0.0
